/* DOCUMENT */

html, body {
    margin: 0;
    height: 100%;
}

body {
    background: #e8fcff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e8fcff 10%, #e8fcff 25%, #ffffff 50%, #e8fcff 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #e8fcff 10%, #e8fcff 25%, #ffffff 50%, #e8fcff 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #e8fcff 10%, #e8fcff 25%, #ffffff 50%, #e8fcff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8fcff',GradientType=0 ); /* IE6-9 */
}

/* HEADER & NAV */

.searchcontainer {
    text-align: left;
    padding: 0;
}

.searchcontainer .row {
    margin-top: 20px;
}

.searchcontainer .logo {
    max-height: 33px;
    margin-top: 4px;
}

.searchcontainer .logo-sq {
    max-height: 68px;
    margin-left: 20px;
}

.searchcontainer .right {
    text-align: right;
    margin: 0 auto;
}

.searchcontainer .input-group {
    max-width: 250px;
    float: right;
    z-index: 5;
}

@media (max-width: 768px) {
    .searchcontainer .input-group {
        margin: 0 auto;
        margin-right: 20px;
    }
}

.searchcontainer .input-group-addon {
    background-color: #78a36f;
    border-color: #78a36f;
    cursor: pointer;
}

.searchcontainer input {
    /*border: none 0px #fff;
    box-shadow: none;
    -webkit-box-shadow: none;*/
    border-color: #78a36f;
}

.searchcontainer input:focus {
    border-color: #78a36f;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.searchcontainer .glyphicon-search {
    color: #ffffff;
}

/* WAVES & THE PLACE WHERE THINGS HAPPEN */

.actioncontainer {
    overflow: visible;
    bottom: 0;
    left: 0;
    right: 0;
    top: 140px;
    position: absolute;
}

.wavecontainer {
    overflow: hidden;
    top: 150px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

.wavecontainer.frontwave {
    z-index: 2;
    opacity: 0.85;
    transition: all 0.5s ease;
}

.wavecontainer.frontwave .wave:before {
    background-image: radial-gradient(circle at 20px -10px, transparent 24px, rgba(111, 214, 255, 1) 26px);
}

.wavecontainer.frontwave .wave:after {
    background-image: radial-gradient(circle at 20px 30px, rgba(111, 214, 255, 1) 24px, transparent 26px);
}

.wavecontainer.frontwave .underwave {
    background-color: rgba(111, 214, 255, 1);
}

.wavecontainer.backwave {
    z-index: 0;
    opacity: 0.6;
    transition: all 0.5s ease;
}

.wavecontainer.backwave .wave:before {
    background-image: radial-gradient(circle at 20px -10px, transparent 24px, #b7ebfd 26px);
}

.wavecontainer.backwave .wave:after {
    background-image: radial-gradient(circle at 20px 30px, #b7ebfd 24px, transparent 26px);
}

.wavecontainer.backwave .underwave {
    background-color: #b7ebfd;
}

.wave {
    height: 100px;
    width: 2000px;
    position: relative;
}

.wave:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 20px;
    background-size: 40px 40px;
}

.wave:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 30px;
    background-size: 80px 40px;
}

.underwave {
    position: relative;
    height: 100%;
    width: 3000px;
    margin-top: -1px;
}

/* BOATS */

.betweenwaves {
    /* contains one or more boatcontainers */
}

.boatcontainer {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
    text-align: center;
    margin: 0 auto;
    overflow: visible;
}

.boatcontainer.boat-hidden {
    display: none;
}

.boat {
    margin: 0 auto;
}

.boat img {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.boat.size-canoe.level-floating,
.boat.size-canoe.level-rising,
.boat.size-canoe.level-falling{
    margin-top: 110px;
}

.boat.size-canoe.level-sailing,
.boat.size-canoe.level-lifting,
.boat.size-canoe.level-leaking,
.boat.size-canoe.level-unknown {
    margin-top: 170px;
}

.boat.size-canoe.level-submerged,
.boat.size-canoe.level-surfacing,
.boat.size-canoe.level-sinking {
    bottom: 46%;
    position: absolute;
    left: 0;
    right: 0;
}

.boat.level-leaking {
    margin-top: 210px;
}

.boat.level-lifting {
    margin-top: 150px;
}

.boat.size-canoe.level-sunk {
    bottom: 5px;
    position: absolute;
    left: 0;
    right: 0;
}

.boat.level-rising,
.boat.level-lifting,
.boat.level-surfacing {
    -webkit-animation: bobble3-up 6s infinite; /* Safari 4.0 - 8.0 */
    animation: bobble3-up 6s infinite;
}

.boat.level-falling,
.boat.level-leaking,
.boat.level-sinking{
    -webkit-animation: bobble3-down 6s infinite; /* Safari 4.0 - 8.0 */
    animation: bobble3-down 6s infinite;
}

.boat.level-unknown {
    -webkit-animation: bobble3-flipped 6s infinite; /* Safari 4.0 - 8.0 */
    animation: bobble3-flipped 6s infinite;
}

.boat.size-canoe img {
    height: 130px;
}

.boat.size-canoe-build.level-sailing,
.boat.size-canoe-build.level-lifting,
.boat.size-canoe-build.level-leaking {
    margin-top: 160px;
}

.boat.size-canoe-build img {
    height: 130px;
}

/* BOAT FLAG */

.boat .flagcontainer {
    position: absolute;
    top: -198px;
    left: 50%;
    z-index: 0;
    height: 230px;
    border-left: solid 5px #604933;
}

.boat .flag {
    width: 200px;
    height: 200px;
}

/* HAMMER */

.boat .hammercontainer {
    position: absolute;
    top: -70px;
    left: 50%;
    z-index: 3;
    height: 150px;
    -webkit-animation: hammer 2s infinite; /* Safari 4.0 - 8.0 */
    animation: hammer 2s infinite;
}

.boat .hammercontainer img {
    height: 120px;
}

/* ISLAND */

.island {
    margin: 0 auto;
}

.island img {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    height: 350px;
}

.island.level-sea {
    margin-top: 0;
}

/* OCTOPUS */

.octo {
    margin: 0 auto;
}

.octo img {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    height: 400px;
}

.octo.level-sea {
    margin-top: 45px;
}

/* HOOK */

.hook {
    margin: 0 auto;
    top: -220px;
    padding-left: 70px;
}

.boatcontainer.bc-search {
    /* Hook container gets a bump */
    z-index: 2;
}

/* LOADING */

.loadingcontainer {
    text-align: center;
    position: absolute;
    top: 110px;
    left: 0;
    right: 30px;
    z-index: 0;
    opacity: 0;
}

.loadingcontainer .uil-ripple-css {
    margin: 0 auto;
}

/* OCEAN FLOOR */

.floor {
    height: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    opacity: 0.8;
    background-image: url('../images/floor.png');
    background-repeat: repeat-x;
    -ms-background-position-y: -1px;
    background-position-y: -1px;
}

/* BOOSTERS */

.boostcontainer {
    width: 450px;
    margin: 0 auto;
    top: 112px;
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
}

.boostcontainer .boost-left {
    background-image: url('../images/booster.png');
    background-repeat: no-repeat;
    background-position: top -5px center;
    background-size: 60%;
    padding-top: 21px;
    text-align: center;
    float: left;
    padding-left: 10px;
}

.boostcontainer .boost-right {
    background-image: url('../images/booster.png');
    background-repeat: no-repeat;
    background-position: top -5px center;
    background-size: 55%;
    margin-top: 4px;
    padding-top: 19px;
    text-align: center;
    float: right;
    padding-left: 10px;
}

.boostcontainer .fire-left,
.boostcontainer .fire-right {
    height: 66px !important;
    width: 130px !important;
}

/* SNACKS */

.snackbar {
    transition-property: opacity, bottom, left, right, width, margin;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    font-size: 14px;
    min-height: 14px;
    background-color: #333333;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    line-height: 22px;
    padding: 18px 24px;
    opacity: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    min-width: 288px;
    max-width: 568px;
    z-index: 5;
}

/* ANIMATIONS */

@keyframes bobble {
    0% {
        transform: translate(-100px, 40px);
        animation-timing-function: ease-in;
    }
    50% {
        transform: translate(-50px, 50px);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translate(-20px, 40px);
    }
}

.bobbler {
    position: relative;
    -webkit-animation: bobble 5s infinite; /* Safari 4.0 - 8.0 */
    animation: bobble 5s infinite;
}

@keyframes bobble2 {
    0% {
        transform: translate(-120px, 30px);
        animation-timing-function: ease-in;
    }
    50% {
        transform: translate(-80px, 55px);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translate(-40px, 30px);
    }
}

.bobbler2 {
    position: relative;
    -webkit-animation: bobble2 5s infinite; /* Safari 4.0 - 8.0 */
    animation: bobble2 5s infinite;
}

@keyframes bobble3 {
    0% {
        transform: translate(0px, 20px);
        animation-timing-function: ease-in;
    }
    50% {
        transform: translate(0px, 40px);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translate(0px, 20px);
    }
}

@keyframes bobble3-up {
    0% {
        transform: translate(0px, 20px);
        animation-timing-function: ease-in;
        -ms-transform: rotate(-10deg);
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    50% {
        transform: translate(0px, 40px);
        animation-timing-function: ease-out;
        -ms-transform: rotate(-10deg);
        -webkit-transform: rotate(-10deg);
        transform: rotate(-13deg);
    }
    100% {
        transform: translate(0px, 20px);
        -ms-transform: rotate(-10deg);
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
}

@keyframes bobble3-down {
    0% {
        transform: translate(0px, 20px);
        animation-timing-function: ease-in;
        -ms-transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }
    50% {
        transform: translate(0px, 40px);
        animation-timing-function: ease-out;
        -ms-transform: rotate(13deg);
        -webkit-transform: rotate(13deg);
        transform: rotate(13deg);
    }
    100% {
        transform: translate(0px, 20px);
        -ms-transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }
}

@keyframes bobble3-flipped {
    0% {
        transform: translate(0px, 20px);
        animation-timing-function: ease-in;
        -ms-transform: rotate(178deg);
        -webkit-transform: rotate(178deg);
        transform: rotate(178deg);
    }
    50% {
        transform: translate(0px, 40px);
        animation-timing-function: ease-out;
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(182deg);
    }
    100% {
        transform: translate(0px, 20px);
        -ms-transform: rotate(182deg);
        -webkit-transform: rotate(182deg);
        transform: rotate(178deg);
    }
}

.bobbler3 {
    position: relative;
    -webkit-animation: bobble3 6s infinite; /* Safari 4.0 - 8.0 */
    animation: bobble3 6s infinite;
}

.enter {
    animation: fadein 2s;
    -webkit-animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
        top: -20px;
    }
    to   {
        opacity: 1;
        top: 0;
    }
}

.enter-slow {
    animation: fadein 2.2s;
    -webkit-animation: fadein 2.2s;
}

@keyframes fadein {
    from {
        opacity: 0;
        top: -80px;
        animation-timing-function: cubic-bezier(0.2,0.5,0.3,1);
    }
    to   {
        opacity: 1;
        top: 0;
    }
}

.enter-fast {
    animation: fadein-fast 1s;
    -webkit-animation: fadein-fast 1s;
}

@keyframes fadein-fast {
    from {
        opacity: 0;
        top: 50px;
    }
    to   {
        opacity: 1;
        top: 0;
    }
}

.enter-low {
    animation: fadein-low 2.2s;
    -webkit-animation: fadein-low 2.2s;
}

@keyframes fadein-low {
    from {
        opacity: 0;
        top: 30px;
        animation-timing-function: cubic-bezier(0.2,0.5,0.3,1);
    }
    to   {
        opacity: 1;
        top: 0;
    }
}

.exit {
    animation: fadeout 1.5s;
    -webkit-animation: fadeout 1.5s;
    opacity: 0;
    position: absolute;
    top: 0;
}

@keyframes fadeout {
    from {
        opacity: 1;
        top: 0;
        -webkit-filter: blur(0px);
    }
    to   {
        opacity: 0;
        top: 30px;
        -webkit-filter: blur(3px);
    }
}

.hookexit {
    animation: fadeout 1.5s;
    -webkit-animation: fadeout 1.5s;
    opacity: 0;
    position: absolute;
    top: -50px;
}

@keyframes fadeout {
    from {
        opacity: 1;
        top: -50px;
        -webkit-filter: blur(0px);
    }
    to   {
        opacity: 0;
        top: -450px;
        -webkit-filter: blur(1px);
    }
}

@keyframes hammer {
    0% {
        transform: translate(0px, 20px);
        animation-timing-function: ease-out;
        -webkit-transform: rotate(2deg); /* Chrome, Safari, Opera */
        transform: rotate(2deg);
    }
    10% {
        transform: translate(0px, 40px);
        -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
        transform: rotate(-105deg);
    }
    100% {
        transform: translate(0px, 20px);
        -webkit-transform: rotate(2deg); /* Chrome, Safari, Opera */
        transform: rotate(2deg);
        animation-timing-function: linear;
    }
}

/* BACKGROUND LOADING ANIMATION */

.bg-long-load {
    opacity: 0;
    background:url(../images/seigaiha.png);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    content: ' ';
    display: block;
    animation: 100s bg-scroll infinite linear;
}

@keyframes bg-scroll {
    100% {
        background-position: 0 -3000px;
    }
}