html, body {
    margin: 0;
    min-height: 100%;
}

body {
    background: #e8fcff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e8fcff 10%, #e8fcff 25%, #ffffff 50%, #e8fcff 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #e8fcff 10%, #e8fcff 25%, #ffffff 50%, #e8fcff 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #e8fcff 10%, #e8fcff 25%, #ffffff 50%, #e8fcff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8fcff',GradientType=0 ); /* IE6-9 */
}

.logo {
    margin: 0 auto;
    margin-top: 50px;
}

/* WAVES */

.actioncontainer {
    overflow: visible;
    bottom: 0;
    left: 0;
    right: 0;
    top: 140px;
    position: absolute;
}

.wavecontainer {
    overflow: hidden;
    top: 150px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

.wavecontainer.frontwave {
    z-index: 2;
    opacity: 0.85;
    transition: all 0.5s ease;
}

.wavecontainer.frontwave .wave:before {
    background-image: radial-gradient(circle at 20px -10px, transparent 24px, rgba(111, 214, 255, 1) 26px);
}

.wavecontainer.frontwave .wave:after {
    background-image: radial-gradient(circle at 20px 30px, rgba(111, 214, 255, 1) 24px, transparent 26px);
}

.wavecontainer.frontwave .underwave {
    background-color: rgba(111, 214, 255, 1);
}

.wavecontainer.backwave {
    z-index: 0;
    opacity: 0.6;
    transition: all 0.5s ease;
}

.wavecontainer.backwave .wave:before {
    background-image: radial-gradient(circle at 20px -10px, transparent 24px, #b7ebfd 26px);
}

.wavecontainer.backwave .wave:after {
    background-image: radial-gradient(circle at 20px 30px, #b7ebfd 24px, transparent 26px);
}

.wavecontainer.backwave .underwave {
    background-color: #b7ebfd;
}

.wave {
    height: 100px;
    width: 4600px;
    position: relative;
}

.wave:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 20px;
    background-size: 40px 40px;
}

.wave:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 30px;
    background-size: 80px 40px;
}

.underwave {
    position: relative;
    height: 100%;
    width: 3000px;
    margin-top: -1px;
}

/* BOATS */

.betweenwaves {
    /* contains one or more boatcontainers */
}

.boatcontainer {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
    text-align: center;
    margin: 0 auto;
    overflow: visible;
}

.boat {
    margin: 0 auto;
}

.boat img {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.boat.size-canoe img {
    height: 130px;
    margin-top: 100px;
}

/* OCTOPUS */

.octo {
    margin: 0 auto;
}

.octo img {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    height: 400px;
}

.octo.level-sea {
    margin-top: 45px;
}

/* HELPERS */

.hidden {
    display: none !important;
    position: absolute;
    left: -1000px;
}

.center {
    text-align: center;
}

/* ANIMATIONS */

@keyframes bobble {
    0% {
        transform: translate(-100px, 40px);
        animation-timing-function: ease-in;
    }
    50% {
        transform: translate(-50px, 50px);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translate(-20px, 40px);
    }
}

.bobbler {
    position: relative;
    -webkit-animation: bobble 5s infinite; /* Safari 4.0 - 8.0 */
    animation: bobble 5s infinite;
}

@keyframes bobble2 {
    0% {
        transform: translate(-120px, 30px);
        animation-timing-function: ease-in;
    }
    50% {
        transform: translate(-80px, 55px);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translate(-40px, 30px);
    }
}

.bobbler2 {
    position: relative;
    -webkit-animation: bobble2 5s infinite; /* Safari 4.0 - 8.0 */
    animation: bobble2 5s infinite;
}

@keyframes bobble3 {
    0% {
        transform: translate(0px, 20px);
        animation-timing-function: ease-in;
    }
    50% {
        transform: translate(0px, 40px);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translate(0px, 20px);
    }
}

.bobbler3 {
    position: relative;
    -webkit-animation: bobble3 6s infinite; /* Safari 4.0 - 8.0 */
    animation: bobble3 6s infinite;
}

.enter {
    animation: fadein 2s;
    -webkit-animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
        top: -20px;
    }
    to   {
        opacity: 1;
        top: 0;
    }
}

.enter-slow {
    animation: fadein 2.2s;
    -webkit-animation: fadein 2.2s;
}

@keyframes fadein {
    from {
        opacity: 0;
        top: -80px;
        animation-timing-function: cubic-bezier(0.2,0.5,0.3,1);
    }
    to   {
        opacity: 1;
        top: 0;
    }
}

.enter-fast {
    animation: fadein-fast 1s;
    -webkit-animation: fadein-fast 1s;
}

@keyframes fadein-fast {
    from {
        opacity: 0;
        top: 50px;
    }
    to   {
        opacity: 1;
        top: 0;
    }
}

.enter-low {
    animation: fadein-low 2.2s;
    -webkit-animation: fadein-low 2.2s;
}

@keyframes fadein-low {
    from {
        opacity: 0;
        top: 30px;
        animation-timing-function: cubic-bezier(0.2,0.5,0.3,1);
    }
    to   {
        opacity: 1;
        top: 0;
    }
}

.exit {
    animation: fadeout 1.5s;
    -webkit-animation: fadeout 1.5s;
    opacity: 0;
    position: absolute;
    top: 0;
}

@keyframes fadeout {
    from {
        opacity: 1;
        top: 0;
        -webkit-filter: blur(0px);
    }
    to   {
        opacity: 0;
        top: 30px;
        -webkit-filter: blur(3px);
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
        top: -50px;
        -webkit-filter: blur(0px);
    }
    to   {
        opacity: 0;
        top: -450px;
        -webkit-filter: blur(1px);
    }
}
